.university-name{
    font-family: sans-serif;
    color: var(--primary-app-color) ;
    font-size: 1.4rem;
    font-weight: 800;

}

.university-degree{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(231, 21, 21) ;
    font-size: .8rem;
    font-weight: 800;
    text-transform: uppercase;
}

.university-passout{
    font-family: monospace;
    color: rgb(104, 67, 67);
    font-size: 1rem;
    background: var(--standout-color);
    padding: 10px 10px;
    border-radius: 20px;
    display: relative;
}

@media (max-width: 500px) {
    .university-name{
        font-family: sans-serif;
        color: var(--primary-app-color) ;
        font-size: 15px;
        font-weight: 800;
    
    }
    
    .university-degree{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:rgb(231, 21, 21) ;
        font-size: 10px;
        font-weight: 800;
        text-transform: uppercase;
    }
    
    .university-passout{
        font-family: monospace;
        color: rgb(104, 67, 67);
        font-size: 10px;
        background: var(--standout-color);
        padding: 10px 10px;
        border-radius: 20px;
        display: relative;
    }
    
}